@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-primary: #f8f9fa;
    /* Off-white/Eggshell */
    --text-primary: #111111;
    /* Soft Black */
    --accent-blue: #2563eb;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}